#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    width: 120px;
    height: 120px;
    margin: 0px 0px 0px 55%;
    border: 16px solid #DDDDDD;
    border-radius: 50%;
    border-top: 16px solid #3377c4;
    animation: spin 1s linear infinite;
    top:50%;
    left: -10%;
}
@media screen and (max-width: 1024px)and (min-width: 768px){
#loader{
    top:65%;
    left:43vw
}
}

@media screen and (max-width: 768px) and (min-width: 320px){
#loader{
    top:75vh;
    left:40vw;
}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  animation-name: animatebottom;
  animation-duration: 1s
}


@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.search {
  display: none;
}
